<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- For css -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <title>File Server</title>
</head>
<body>
    <h1>File Server</h1>
    <div class="file-buttons">
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="file" accept=".txt, .pdf, .jpg, .png">
        <input type="submit" value="Upload">
    </form>
    </div>
    <div class="file_list"> <ul>
        {% for file in files %}
            <li>{{ file }}</li>
        {% endfor %}
    </ul>
    </div>
</body>
</html>