/* css/style.css */

/* Reset some default styles for better consistency */
body,
h1, h2, h3, p {
    display: block;
    text-align: center;
    margin: 0;
    margin-top: 10px;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

/* Header styles */
.header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

/* Container styles */
.container {
    margin: 1em;
}

/* File styles */
.file {
    border: 1px solid #ccc;
    padding: 1em;
    margin-bottom: 1em;
}

/* File checkbox styles */
.fileCheckbox {
    margin-right: 0.5em;
}


/* File download button styles */
.downloadButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 0.2em 0.2em;
    cursor: pointer;
}

/* File upload button styles */
#uploadButton {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 0.5em;
    cursor: pointer;
}

/* File delete button styles */
#deleteButton {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin-top: 0.5em;
    cursor: pointer;
}
.file_list {
  margin: 0 auto;
  width: 80%;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}


/* Login */

.login_form {
  /* Center the form on the page */
  margin: 0 auto;
  width: 400px;
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

form li + li {
  margin-top: 1em;
}

label {
  /* Uniform size & alignment */
  display: inline-block;
  width: 90px;
  text-align: right;
}

input,
textarea {
  /* To make sure that all text fields have the same font settings
     By default, textareas have a monospace font */
  font: 1em sans-serif;

  /* Uniform text field size */
  width: 300px;
  box-sizing: border-box;

  /* Match form field borders */
  border: 1px solid #999;
}

input:focus,
textarea:focus {
  /* Additional highlight for focused elements */
  border-color: #000;
}

textarea {
  /* Align multiline text fields with their labels */
  vertical-align: top;

  /* Provide space to type some text */
  height: 5em;
}

.button {
  /* Align buttons with the text fields */
  padding-left: 90px; /* same size as the label elements */
}

button {
  /* This extra margin represent roughly the same space as the space
     between the labels and their text fields */
  margin-left: 0.5em;
}

input,
textarea,
select,
button {
  width: 150px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
